.description{
  @apply rounded p-4 cursor-pointer;
  &__title{
    white-space: nowrap;
    @apply capitalize text-2xl relative pb-2;
  }
  &__description{
    @apply pt-5 pb-10;
  }
  &__line{
    @apply bg-primary;
    border-radius: 100px;
    height: 2px;
    width: 100px;
    content: "";
    display: block;
  }
}